<ion-view title="搜索结果">
	<ion-content class="has-header padding">
<!-- 搜索框 -->
		<div class="item item-input-inset" has-header="true">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input ng-model="data.query" type="text" placeholder="姓名|拼音|电话"/>
		</label>
		<button  class="button icon ion-close-circled"  ng-click="cancelCondition()"></button>
		<a class="button" href="#">取消</a>
		</div>
<!-- 搜索结果列表 -->
		<div class="list" ng-repeat="employee in employees|filter:data.query">
			<a class="item item-avatar" href="#/tab/search/{{employee.id}}" ><!-- 路径用search而不用templates表示是在search页内部切换 -->
				<img ng-src="{{employee.imageUrl}}"/>
				<h2>{{employee.name}}</h2>
				<p>{{employee.introduce}}</p>
			</a>
		</div>
	</ion-content>
</ion-view>
