<ion-view title="人员详情">
  <ion-content has-header="true" padding="true">
	<div class="list" id="tabDetail">
		<div id="brief">
			<h1>TA的概况</h1>
			<img id="photo"  ng-src="{{result.imageUrl}}" alt="{{result.name}}" onclick="addContact()" />
			<button class="ion-android-add-contact" onclick="addContact()"></button>
			<hr/>
			<div id="writing">
				<p>姓名：{{result.name}}</p>
				<p>工号：{{result.id}}</p>
				<p>职位：{{result.position}}</p>
				<p>部门：{{result.department}}</p>
			</div>
		</div>
		<div id="contactInformation">
			<h1>联系方式</h1>
			<hr/>
			<p>手机：{{result.tel}}</p>
			<p>邮箱：{{result.email}}</p>
			<p>固定电话：{{result.fixedTel}}</p>
		</div>
		<div id="workExperioence">
			<h1>TA的任职</h1>
			<hr/>
			<p>{{result.resume[0]}}</p>
		</div>
	</div>
  </ion-content>
</ion-view>