<ion-tabs class="tabs-icon-top">

	<!-- Home page Tab -->
	<ion-tab title="主页" icon="icon ion-home" href="#/tab/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	
	<!-- Search Tab -->
	<ion-tab title="搜索" icon="icon ion-search" href="#/tab/search">
		<ion-nav-view name="tab-search"></ion-nav-view>
	</ion-tab>

	<!-- Collection Tab -->
	<ion-tab title="收藏" icon="icon ion-star" href="#/tab/collection">
		<ion-nav-view name="tab-collection"></ion-nav-view>
	</ion-tab>

	<!--   About me Tab -->
	<ion-tab title="我" icon="icon ion-person" href="#/tab/about">
		<ion-nav-view name="tab-about"></ion-nav-view>
	</ion-tab>
</ion-tabs>
